# コピー元 Firebase 設定
SRC_FIREBASE_API_KEY=""
SRC_FIREBASE_AUTH_DOMAIN=""
SRC_FIREBASE_PROJECT_ID=""
SRC_FIREBASE_STORAGE_BUCKET=""
SRC_FIREBASE_MESSAGING_SENDER_ID=""
SRC_FIREBASE_APP_ID=""

# コピー先 Firebase 設定
DEST_FIREBASE_API_KEY=""
DEST_FIREBASE_AUTH_DOMAIN=""
DEST_FIREBASE_PROJECT_ID=""
DEST_FIREBASE_STORAGE_BUCKET=""
DEST_FIREBASE_MESSAGING_SENDER_ID=""
DEST_FIREBASE_APP_ID=""
