@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 45 56% 90%; /* light beige */
    --foreground: 24 9.8% 10%;

    --card: 45 56% 90%;
    --card-foreground: 24 9.8% 10%;

    --popover: 45 56% 90%;
    --popover-foreground: 24 9.8% 10%;

    --primary: 141 31% 30%; /* forest green */
    --primary-foreground: 141 20% 95%;

    --secondary: 30 15% 85%;
    --secondary-foreground: 141 31% 30%;

    --muted: 30 15% 88%;
    --muted-foreground: 24 5.4% 45.1%;

    --accent: 30 26% 52%; /* deep brown */
    --accent-foreground: 30 20% 95%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 30 20% 75%;
    --input: 30 20% 80%;
    --ring: 141 31% 30%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 30 10% 10%;
    --foreground: 45 20% 90%;

    --card: 30 10% 10%;
    --card-foreground: 45 20% 90%;

    --popover: 30 5% 5%;
    --popover-foreground: 45 20% 90%;

    --primary: 141 31% 60%;
    --primary-foreground: 141 31% 10%;

    --secondary: 30 10% 20%;
    --secondary-foreground: 45 20% 90%;

    --muted: 30 10% 20%;
    --muted-foreground: 45 10% 60%;

    --accent: 30 26% 72%;
    --accent-foreground: 30 20% 10%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --border: 30 10% 25%;
    --input: 30 10% 25%;
    --ring: 30 26% 72%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
